* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

body {
  padding: 2.5rem 5rem;
  font-family: sans-serif;
}

td {
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: salmon;
}

table {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
}
