* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #212529;
  background-color: #f8f9fa;
  font-size: 1rem;
  min-height: 100vh;
  max-width: 75rem;
  margin-inline: auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

ion-icon {
  font-size: 1.25rem;
}

input {
  width: 100%;
  background: none;
  border: none;
  padding-inline: 1rem;
}

main {
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.actions-right {
  display: flex;
  justify-content: center;
  flex: 1;
  border: 1px solid #868e96;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.07);
}

.actions-left {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn--filter,
.btn--actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.btn--filter,
.btn--trash {
  border: 1px solid #868e96;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.07);
}

.btn--add {
  border-left: 1px solid #868e96;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

table {
  width: 100%;
  border: 1px solid #868e96;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.07);
  text-align: center;
  border-spacing: 0;
  overflow: hidden;
}

thead {
  color: #f8f9fa;
  background-color: #0b7285;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

th {
  font-weight: 500;
}

td,
th {
  padding: 0.5rem 1rem;
  flex: 1;
}

tbody tr:nth-child(even) {
  background-color: #dee2e6;
}

.toast {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}
